@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	@apply scroll-smooth;
}

* {
	@apply text-neutral-200;
}

body {
	@apply m-0 min-h-screen w-screen bg-neutral-900 p-0 font-sans;
}

pre {
	@apply fixed bottom-0 left-0 z-50 m-0 max-h-screen overflow-y-scroll bg-neutral-800 p-8 text-xs;
}

.forms {
	background-image: repeating-radial-gradient(circle at -50px -50px, transparent 0, #111 100px),
		repeating-linear-gradient(#ffffff55, #111);
	@apply flex h-screen w-screen flex-row items-center justify-evenly;
}

div.forms > form {
	@apply absolute left-[50%] top-[50%] flex w-4/5 translate-x-[-50%] translate-y-[-50%] flex-col gap-6 rounded-md bg-neutral-900 p-8 md:w-3/5 lg:w-2/4 xl:w-1/4;
}

div.forms > form > img[alt='Chalkee'] {
	@apply relative left-1/2 mb-6 h-6 w-1/3 -translate-x-1/2;
}

div.forms > form > label {
	@apply text-sm;
}

div.forms > form > button:last-of-type {
	@apply mt-4 !important;
}

div.forms > form h2.error {
	@apply rounded-sm bg-red-900 p-4;
}

button:not(td button, button:has(#logo)) {
	@apply cursor-pointer rounded-sm border border-neutral-700 bg-neutral-800 px-4 py-2 text-white duration-150 ease-in-out hover:bg-neutral-900;
}

*[disabled] {
	@apply pointer-events-none opacity-50;
}

div.forms label {
	@apply flex flex-col gap-2;
}

input:not(input[type='radio'], input[type='checkbox']),
textarea,
select {
	@apply rounded-sm border border-neutral-700 bg-neutral-800 px-4 py-2 text-white duration-150 ease-in-out focus-visible:bg-neutral-900 !important;
}

:not(div.forms) > form label {
	@apply w-2/12 cursor-pointer;
}

:not(div.forms) > form label > input {
	@apply cursor-pointer;
}

select {
	@apply w-8/12 md:w-4/12;
}

h1 {
	@apply text-3xl;
}

h2:not(form h2) {
	@apply text-xl;
}

main {
	@apply absolute left-1/2 flex -translate-x-1/2 flex-col items-stretch justify-start gap-8 pb-12 pt-6 md:py-32;
}

main:not(:has(table)) {
	@apply mt-24 w-11/12 md:mt-0 md:w-5/12;
}

main:has(table) {
	@apply w-11/12 2xl:w-max;
}

.island-col {
	@apply flex flex-col rounded-md bg-neutral-800 p-6;
}

.island-col:has(table) {
	@apply mt-24 md:mt-0;
}

.island-col h1 {
	@apply pb-4;
}

.island-col button:only-of-type:not(td button) {
	@apply mt-4;
}

.island-col > div:has(button):not(:has(select)) {
	@apply mt-4 flex flex-col flex-wrap gap-2 md:flex-row;
}

.island-col iframe {
	@apply mb-4 h-96 rounded-lg bg-neutral-900;
}

.island-col a {
	@apply underline;
}

.non-interactable {
	opacity: 0.25;
	transition: 0.25s;
	pointer-events: none;
	-webkit-user-drag: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	transition: filter 0.25s;
}

table {
	@apply border-separate border-spacing-0;
}

table td button,
table td div {
	@apply flex w-full min-w-48 flex-col p-2;
}

table td,
table th {
	@apply p-2 text-center 2xl:p-0;
}

table td:first-child div {
	@apply w-8 min-w-0 2xl:w-10;
}

table th {
	@apply py-2;
}

table td {
	@apply border-[1px] border-neutral-500 text-xs;
}

table tr:last-child td:first-child {
	@apply rounded-bl-md;
}

table tr:last-child td:last-child {
	@apply rounded-br-md;
}

table tr:first-child td:first-child {
	@apply rounded-tl-md;
}

table tr:first-child td:last-child {
	@apply rounded-tr-md;
}

table tr td:first-child {
	@apply w-4 2xl:w-10;
}

table tr td:first-child div {
	@apply w-full text-center 2xl:w-10;
}

.dots {
	@apply fixed left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 flex-row;
}

.dots > div {
	@apply h-4 w-4 rounded-full bg-white opacity-0;
}

.dots > div:first-child {
	animation: blink 0.5s infinite alternate;
}

.dots > div:not(:first-child, :last-child) {
	animation: blink 0.5s infinite 0.25s alternate;
}

.dots > div:last-child {
	animation: blink 0.5s infinite 0.5s alternate;
}

.dots {
	transition: 0.25s;
}

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 1000px) {
	.dots {
		@apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
		bottom: unset;
	}

	* {
		@apply text-sm;
	}
}
